* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

body {
  background-color: #000;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
}

.loader {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  overflow: hidden;
  position: relative;
  transform: rotate(175deg);
}
.loader span {
  -webkit-animation: wave 1s alternate ease-in-out infinite;
          animation: wave 1s alternate ease-in-out infinite;
  -webkit-animation-delay: calc(-0.1s * var(--i));
          animation-delay: calc(-0.1s * var(--i));
  border: 10px solid #0b0b0b;
  border-top: 10px solid #0f0;
  border-left: 10px solid #0f0;
  border-radius: 50%;
  bottom: calc(12px * var(--i));
  filter: hue-rotate(calc(60deg * var(--i)));
  position: absolute;
  left: calc(12px * var(--i));
  right: calc(12px * var(--i));
  top: calc(12px * var(--i));
}

@-webkit-keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}