@use "../../assets/styles/base/colorVariables" as colors;
@use "../../assets/styles/base/mixins" as mix;
@use "../../assets/styles/base/reset";
@use "sass:map";

$colors-midia-social: (
	github: map.get(colors.$midia-socials-colors, "github"),
	linkedin: map.get(colors.$midia-socials-colors, "linkedin"),
	codepen: map.get(colors.$midia-socials-colors, "codepen"),
	gmail: map.get(colors.$midia-socials-colors, "google"),
	medium: map.get(colors.$midia-socials-colors, "medium"),
	whatsapp: map.get(colors.$midia-socials-colors, "whatsapp"),
);

body {
	align-items: center;
	background-color: #727272;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

.button {
	li {
		background-color: #fff;
		border-radius: 50px;
		box-shadow: 0 10px 6px rgba(0, 0, 0, 0.3);
		cursor: pointer;
		@include mix.sizer(60px);
		margin: 10px;
		overflow: hidden;
		transition: all 0.3s ease-out;

		&:hover {
			width: 200px;
		}

		.icon {
			border-radius: 50px;
			color: #fff;
			display: inline-block;
			height: 60px;
			text-align: center;
			width: 60px;
		}

		&:hover .icon {
			background: #fff;
		}

		.icon i {
			font-size: 25px;
			line-height: 60px;
		}

		strong {
			color: #161616;
			font-size: 1.3em;
			line-height: 60px;
			margin-left: 10px;
		}
	}

	@each $key, $color in $colors-midia-social {
		&--#{$key} .icon {
			background-color: $color;
		}

		&--#{$key}:hover .icon {
			color: $color;
		}
	}
}
