@use "../../assets/styles/base/mixins" as mix;
@use "../../assets/styles/base/reset";

body {
	background-color: #727272;
	@include mix.flex-center();
	min-height: 100vh;
}

.cup {
	background: {
		image: url("img/coffee.png");
		position: 190px 120px;
		repeat: repeat-x;
	}

	border: 6px solid #727272 {
		radius: 30%;
		top: 2px solid transparent;
		top-left-radius: 6px;
		top-right-radius: 6px;
	}

	box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0, 0, 0, 1);
	cursor: pointer;
	height: 180px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 150px;

	&::before {
		border: 6px solid #fff {
			bottom-right-radius: 35px;
			top-right-radius: 35px;
		}

		content: "";
		height: 80px;
		position: absolute;
		right: -68px;
		top: 30px;
		width: 50px;
	}

	&:hover {
		animation: fluid 10s linear infinite;
	}
}

@keyframes fluid {
	0% {
		background-position: 80px 100px;
	}

	10% {
		background-position: 160px 100px;
	}

	40% {
		background-position: 1000px 60px;
	}

	80% {
		background-position: 2000px 30px;
	}

	100% {
		background-position: 2500px 10px;
	}
}
