* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #727272;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.list-of-midia-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.list-of-midia-socials li {
  height: 60px;
  margin: 25px;
  position: relative;
  -webkit-transform: rotate(-25deg) skew(25deg);
      -ms-transform: rotate(-25deg) skew(25deg);
          transform: rotate(-25deg) skew(25deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 60px;
}
.list-of-midia-socials li::before {
  background-color: #222;
  bottom: -10px;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  -webkit-transform: skewX(-41deg);
      -ms-transform: skewX(-41deg);
          transform: skewX(-41deg);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  width: 100%;
}
.list-of-midia-socials li::after {
  background-color: #222;
  content: "";
  height: 100%;
  left: -9px;
  position: absolute;
  top: 0;
  -webkit-transform: skewY(-49deg);
      -ms-transform: skewY(-49deg);
          transform: skewY(-49deg);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  width: 9px;
}
.list-of-midia-socials li a {
  font-size: 0.5em;
}
.list-of-midia-socials li a span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-size: 30px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  width: 100%;
}
.list-of-midia-socials li:hover span {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  color: #fff;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  z-index: 1000;
}
.list-of-midia-socials li:hover span:nth-child(5) {
  opacity: 1;
  -webkit-transform: translate(40px, -40px);
      -ms-transform: translate(40px, -40px);
          transform: translate(40px, -40px);
}
.list-of-midia-socials li:hover span:nth-child(4) {
  opacity: 0.8;
  -webkit-transform: translate(30px, -30px);
      -ms-transform: translate(30px, -30px);
          transform: translate(30px, -30px);
}
.list-of-midia-socials li:hover span:nth-child(3) {
  opacity: 0.6;
  -webkit-transform: translate(20px, -20px);
      -ms-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
}
.list-of-midia-socials li:hover span:nth-child(2) {
  opacity: 0.4;
  -webkit-transform: translate(10px, -10px);
      -ms-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
}
.list-of-midia-socials li:hover span:nth-child(1) {
  opacity: 0.2;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.list-of-midia-socials li:nth-child(1) span {
  background-color: #0a66c2;
}
.list-of-midia-socials li:nth-child(2) span {
  background-color: #181717;
}
.list-of-midia-socials li:nth-child(3) span {
  background-color: #ea4335;
}
.list-of-midia-socials li:nth-child(4) span {
  background-color: #000000;
}
.list-of-midia-socials li:nth-child(5) span {
  background-color: #25d366;
}
.list-of-midia-socials li:nth-child(6) span {
  background-color: #000000;
}
.list-of-midia-socials li:nth-child(7) span {
  background-color: #e4405f;
}
.list-of-midia-socials li:nth-child(8) span {
  background-color: #5865f2;
}
.list-of-midia-socials li:nth-child(9) span {
  background-color: #1da1f2;
}
