@use "../../assets/styles/base/mixins" as mix;

.loader__01 {
	animation: spin-01 1s linear infinite;

	border: 8px solid rgba(255, 0, 0, 0.1) {
		left-color: #fff;
		right-color: #fff;
		radius: 50%;
	}

	@include mix.sizer(60px);
}

@keyframes spin-01 {
	to {
		transform: rotate(360deg);
	}
}
