@use "../../assets/styles/base/mixins" as mix;

.loader__03 {
	display: inline-block;
	@include mix.sizer(80px);
	position: relative;

	div {
		animation: spin-03 1s linear infinite;
		transform-origin: 40px 40px;

		&:after {
			background: #fff;
			border-radius: 20%;
			content: " ";
			display: block;
			height: 18px;
			left: 37px;
			position: absolute;
			top: 3px;
			width: 6px;
		}

		@for $i from 1 through 12 {
			&:nth-child(#{$i}) {
				animation-delay: 0.1s * $i;
				transform: rotate(30deg * $i);
			}
		}
	}
}

@keyframes spin-03 {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
