* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

.loader__01 {
  -webkit-animation: spin-01 1s linear infinite;
          animation: spin-01 1s linear infinite;
  border: 8px solid rgba(255, 0, 0, 0.1);
  border-left-color: #fff;
  border-right-color: #fff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

@-webkit-keyframes spin-01 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-01 {
  to {
    transform: rotate(360deg);
  }
}
.loader__02 {
  height: 120px;
  width: 120px;
  position: relative;
}
.loader__02 strong {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  font-size: 1.3rem;
  height: 100%;
  text-transform: uppercase;
}
.loader__02 span {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(calc(18deg * var(--i)));
  width: 100%;
}
.loader__02 span::before {
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
  -webkit-animation-delay: calc(0.1s * var(--i));
          animation-delay: calc(0.1s * var(--i));
  background-color: #00ff0a;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
  content: "";
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

@-webkit-keyframes blink {
  0% {
    transform: scale(1);
  }
  80%, 100% {
    transform: scale(0);
  }
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  80%, 100% {
    transform: scale(0);
  }
}
.loader__03 {
  display: inline-block;
  height: 80px;
  width: 80px;
  position: relative;
}
.loader__03 div {
  -webkit-animation: spin-03 1s linear infinite;
          animation: spin-03 1s linear infinite;
  transform-origin: 40px 40px;
}
.loader__03 div:after {
  background: #fff;
  border-radius: 20%;
  content: " ";
  display: block;
  height: 18px;
  left: 37px;
  position: absolute;
  top: 3px;
  width: 6px;
}
.loader__03 div:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  transform: rotate(30deg);
}
.loader__03 div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  transform: rotate(60deg);
}
.loader__03 div:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  transform: rotate(90deg);
}
.loader__03 div:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  transform: rotate(120deg);
}
.loader__03 div:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  transform: rotate(150deg);
}
.loader__03 div:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  transform: rotate(180deg);
}
.loader__03 div:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  transform: rotate(210deg);
}
.loader__03 div:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  transform: rotate(240deg);
}
.loader__03 div:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  transform: rotate(270deg);
}
.loader__03 div:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  transform: rotate(300deg);
}
.loader__03 div:nth-child(11) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  transform: rotate(330deg);
}
.loader__03 div:nth-child(12) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  transform: rotate(360deg);
}

@-webkit-keyframes spin-03 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin-03 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
main {
  -webkit-animation: animate-bg 5s linear infinite;
          animation: animate-bg 5s linear infinite;
  background-color: #1e0421;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
}

main > div {
  margin: 50px;
}

@-webkit-keyframes animate-bg {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes animate-bg {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}