@use "../../assets/styles/base/mixins" as mix;
@use "../../assets/styles/base/reset";

@use "loader01";
@use "loader02";
@use "loader03";

main {
	animation: animate-bg 5s linear infinite;
	background-color: #1e0421;
	flex-wrap: wrap;
	@include mix.flex-center();
	min-height: 100vh;
}

main > div {
	margin: 50px;
}

@keyframes animate-bg {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}
