@use "../../assets/styles/base/mixins" as mix;
@use "../../assets/styles/base/reset";

section {
	background-color: #9b0abf;
	background: linear-gradient(to right, #9b0abf, #3664d0);
	border: 2em dotted #fa5e1f;
	@include mix.sizer(100%);
	overflow: hidden;
	position: absolute;

	.wrapper {
		background-color: #9b0abf;
		background: linear-gradient(to right, #9b0abf, #6937c8);
		color: #ff002b;
		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 50%;
	}

	.sliding {
		animation: sliding-text 6s linear infinite alternate;
		font-size: 12em;
		line-height: 220px;
		overflow: hidden;
		position: absolute;
		top: 60vh;
		white-space: nowrap;
	}
}

@keyframes sliding-text {
	from {
		transform: translate(50%, -100%);
	}

	to {
		transform: translate(-100%, -100%);
	}
}
