// Midia Socials Colors
$midia-socials-colors: (
	codepen: #000000,
	discord: #5865f2,
	github: #181717,
	google: #ea4335,
	instagram: #e4405f,
	linkedin: #0a66c2,
	medium: #000000,
	twitter: #1da1f2,
	whatsapp: #25d366,
);
