* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

.checker:checked + label::after,
.checker:not(:checked) + label::after, .checker:checked + label::before,
.checker:not(:checked) + label::before {
  border-radius: 4px;
  content: "";
  height: calc(100% + 4px);
  left: -2px;
  position: absolute;
  top: -2px;
  width: calc(100% + 4px);
  z-index: -2;
}

body {
  background-color: #001;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 1.7em;
  transition: all 3ms linear;
  width: 100vw;
}

h1 {
  color: #fff;
  margin: 30px;
  text-align: center;
  width: 100%;
}

input[type=checkbox] {
  visibility: hidden;
}

.checker:checked + label,
.checker:not(:checked) + label {
  background-color: #353746;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 30px;
  margin: 0 6px 16px;
  padding: 6px 25px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.checker:checked + label::before,
.checker:not(:checked) + label::before {
  background-image: linear-gradient(136deg, red, yellow);
}
.checker:checked + label::after,
.checker:not(:checked) + label::after {
  background-color: #353746;
}
.checker:checked + label .text,
.checker:not(:checked) + label .text {
  display: inline-block;
  font-weight: bold;
  margin-left: 20px;
  position: relative;
  transition: opacity 300ms linear;
}
.checker:checked + label .text::after,
.checker:not(:checked) + label .text::after {
  background-image: linear-gradient(138deg, red, yellow);
  content: "";
  height: 2px;
  left: 0;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  transition: all 300ms linear;
  width: 0;
  z-index: 1;
}

.checker:not(:checked) + label::before {
  height: calc(100% + 2px);
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
}

.checker:checked + label::after {
  opacity: 0;
}

i {
  font-size: calc(1vw + 1vh + 0.5vmin);
}

.checker:checked + label .text {
  opacity: 0.6;
}
.checker:checked + label .text::after {
  width: 100%;
}