// COLORS
$blue-primary-color: #1572b6;
$blue-secondary-color: #73a2c5;

$text-primary-color: #003;
$link-color: #0d2dd1;

// TYPOGRAPHY
$font-stack: "Fira Code", monospace, "Open Sans", sans-serif;

// SPACINGS
$gap-small: 0.9375rem; //15px
$gap-medium: 1.875rem; //30px
$gap-large: 3.75rem; //60px
