html {
	scroll-behavior: smooth;
}

body {
	background-color: #ededed;
}

a:focus,
button:focus {
	outline: #000 dotted 3px;
	outline-offset: 0.3em;
}

img {
	object-fit: cover;
}

p {
	line-height: 1.5;
	max-width: 80ch;
}
