@use "../../assets/styles/base/colorVariables" as colors;

%background-green {
	background: #165e00;
}

.button-03 {
	border: 2px solid #fff;
	border-radius: 10px;
	box-shadow: #e3e3e3 5px 5px;
	cursor: pointer;
	font-family: "Cinzel", serif;
	font-size: 20px;
	height: 50px;
	@include mix.sizer(60px);
	position: relative;
	width: 150px;
	z-index: 0;

	&::before,
	&::after {
		@extend %background-green;
		content: "";
		position: absolute;
		transition: 1s;
		z-index: -1;
	}

	&::before {
		height: 50px;
		width: 130px;
	}

	&::after {
		width: 150px;
		height: 30px;
	}

	&:hover::before {
		@extend %background-green;
		width: 0px;
	}

	&:hover::after {
		@extend %background-green;
		height: 0px;
	}

	&:hover {
		@extend %background-green;
		box-shadow: #a1a1a1 3px 3px;
		transform: translate(3px, 3px);
	}

	&:active {
		box-shadow: #a1a1a1 1px 1px;
		transform: translate(10px, 10px);
	}
}
