* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

.button-01 {
  color: #FF0000;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  transform: translate(-25%, 0%);
  width: 180px;
}
.button-01 svg {
  fill: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.button-01 rect {
  fill: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  stroke: #FF0000;
  stroke-dasharray: 100, 400;
  stroke-dashoffset: 217;
  stroke-width: 4;
  top: 0;
  transition: 1s;
  width: 100%;
}
.button-01:hover svg rect {
  stroke-dasharray: 500, 500;
  stroke-dashoffset: 0;
}

body {
  background-color: black;
}

a {
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

a {
  margin: 30px;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-evenly;
}