* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

.button-01 {
  color: #FF0000;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  transform: translate(-25%, 0%);
  width: 180px;
}
.button-01 svg {
  fill: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.button-01 rect {
  fill: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  stroke: #FF0000;
  stroke-dasharray: 100, 400;
  stroke-dashoffset: 217;
  stroke-width: 4;
  top: 0;
  transition: 1s;
  width: 100%;
}
.button-01:hover svg rect {
  stroke-dasharray: 500, 500;
  stroke-dashoffset: 0;
}

.button-02 span:nth-child(4), .button-02 span:nth-child(3), .button-02 span:nth-child(2), .button-02 span:nth-child(1) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #ffdd00);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.button-02 {
  background: linear-gradient(to left top, #00296b 50%, #00509d 50%);
  border-style: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  font-family: "Lato";
  font-size: 23px;
  font-weight: 600;
  height: 70px;
  letter-spacing: 3px;
  outline: none;
  overflow: hidden;
  padding: 0px;
  position: relative;
  transition: all 0.5s;
  width: 200px;
}
.button-02 span {
  display: block;
  position: absolute;
}
.button-02 span:nth-child(1) {
  -webkit-animation: outline-1 2s linear infinite;
          animation: outline-1 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.button-02 span:nth-child(2) {
  -webkit-animation: outline-2 2s linear infinite;
          animation: outline-2 2s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.button-02 span:nth-child(3) {
  -webkit-animation: outline-3 2s linear infinite;
          animation: outline-3 2s linear infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.button-02 span:nth-child(4) {
  -webkit-animation: outline-4 2s linear infinite;
          animation: outline-4 2s linear infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.button-02 span:nth-child(1) {
  height: 3px;
  left: -200px;
  top: 0px;
  width: 200px;
}
.button-02 span:nth-child(2) {
  height: 70px;
  right: 0px;
  top: -70px;
  width: 3px;
}
.button-02 span:nth-child(3) {
  bottom: 0px;
  height: 3px;
  right: -200px;
  width: 200px;
}
.button-02 span:nth-child(4) {
  bottom: -70px;
  height: 70px;
  left: 0px;
  width: 3px;
}
.button-02:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  transform: scale(1.5, 1.5);
  transition: all 0.5s;
}
.button-02:hover span {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes outline-1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}

@keyframes outline-1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}
@-webkit-keyframes outline-2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}
@keyframes outline-2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}
@-webkit-keyframes outline-3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}
@keyframes outline-3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}
@-webkit-keyframes outline-4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}
@keyframes outline-4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}
.button-03 {
  align-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: #e3e3e3 5px 5px;
  cursor: pointer;
  display: flex;
  font-family: "Cinzel", serif;
  font-size: 20px;
  height: 50px;
  justify-content: center;
  position: relative;
  width: 150px;
  z-index: 0;
}
.button-03::before, .button-03::after {
  background: #165E00;
  content: "";
  position: absolute;
  transition: 1s;
  z-index: -1;
}
.button-03::before {
  height: 50px;
  width: 130px;
}
.button-03::after {
  width: 150px;
  height: 30px;
}
.button-03:hover::before {
  background: #165E00;
  width: 0px;
}
.button-03:hover::after {
  background: #165E00;
  height: 0px;
}
.button-03:hover {
  background: #165E00;
  box-shadow: #a1a1a1 3px 3px;
  transform: translate(3px, 3px);
}
.button-03:active {
  box-shadow: #a1a1a1 1px 1px;
  transform: translate(10px, 10px);
}

body {
  background-color: black;
}

a {
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

a,
button {
  margin: 30px;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-evenly;
}